header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    background-color: black;
    border: .5rem solid black;
}

h1 {
    font-family: monospace;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}

body {
    background-color: rgb(65, 65, 65);
}

main {
    display: flex;
    justify-content: space-around;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 30rem;
    margin-top: 4rem;
    border: .5rem solid black;
    background-color: rgb(58, 12, 88);
}

/* article {
    width: 10rem;
    height: 10rem;
    margin: 2px;
    border: .5rem solid black;
    background-color: purple;
} */

div {
    width: 10rem;
    height: 10rem;
    margin: 2px;
    border: .5rem solid black;
    background-color: pink;
}

/* Left-stide section that contains the questions article */
#questionsBox{
    color: white;
}

/* Left Article that contains the start button */
/* This is where the questions and answers should appear */
#questionsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 20rem;
    /* margin: 2px; */
    border: .5rem solid black;
    background-color: rgb(57, 87, 221);
}


/* Targets the right-side section to give space between the divs within */
#quizResults {
    display: flex;
    justify-content: space-around;
}

#high-score {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20em;
    height: 20rem;
    /* margin: 2px; */
    border: .5rem solid black;
    background-color: red;
}


#startButton {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


#timer-box {
    width: 15rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#timer {
    width: 10rem;
    text-align: center;
    border: 2px solid black;
    font-family: monospace;
    font-size: x-large;

}